.projects {
    background: linear-gradient(90deg, #f73d3d 0%, #e62626 100%);
    width: auto;
    height: 84.7vh;
    display: flex;
    overflow: hidden;
    
}
a {
    text-decoration: none;
    color: #fff;
}
.content2 {
    width: 50%;
    height: auto;

    padding: 125px 25px;
    font-size: 25px;
    color: white;
    transform: translate(25vw, 0);
}
.title2 {
    display: flex;
    justify-content: center;
}


.mp-text {
    margin-left: 60%;
}

.web {
    margin-right: 5px;
    margin-left: 5px;
    color: #26e6b6;
    font-weight: 500;
}
.cosmic {
    margin-right: 5px;
    margin-left: 5px;
    color: #CF9FFF;
    font-weight: 500;
}
.java {
    margin-right: 5px;
    margin-left: 5px;
    color: #df8611;
    font-weight: 500;
}
.text {
    display:inline-flex;
    text-shadow: 0 0 25px #202020;
}
.octo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    transform: translate(21.5vw, 0);
}

.extraboomerangs2 {
    width: 400px;
    height: 300px;
    display: inline-block;
    margin-left: -50px;
    flex-wrap: wrap;
    
    padding: 3px;
    
    border: 5px solid #202020;
    border-radius: 20px;
    
}
.musicplayer2 {
    width: 300px;
    height: 300px;
    margin-left: 25px;
    
    padding: 3px;
    
    border: 5px solid #202020;
    border-radius: 20px;
    
}
@media screen and (min-width: 3000px){
    .main {
        height: 100vh;
        overflow: hidden;
    }
    .octo {
        margin-left: -40%;
    }
}


@media screen and (max-width: 960px){
    .content {
        transform: translate(0, 0);
        font-size: 1rem;
        overflow: hidden;
    }
    .cosmic {
        margin-right: 3px;
        margin-left: 3px;
    }
    .java {
        margin-right: 3px;
        margin-left: 3px;
    }
    .web {
        margin-right: 3px;
        margin-left: 3px;
    }
    .main {
        display: block;
        height: 100%;

    }
    .mp-text2 {
        margin-left: 50%;
        font-size: 1.2rem;
    }
    .octo {
        width: 50px;
        transform: translate(36.5vw, 0);
    }
    .extraboomerangs {
        width: 300px;
        height: 200px;
        display: flex;
        margin-left: 15px;
    
        padding: 3px;
    
        border: 5px solid #202020;
        border-radius: 20px;
    }
    .musicplayer {
        width: 300px;
        height: 300px;
        margin-left: 15px;
        margin-top: 10px;
        
        
        padding: 3px;
        
        border: 5px solid #202020;
        border-radius: 20px;
        flex-wrap: wrap;
        
    }
    .custom-shape-divider-bottom-1645708344 {
        opacity: 0;
    }
}